@import "tailwindcss";

*{
       scroll-behavior: smooth;
       scrollbar-color: #069297 #731280;
}
  .from-primary {
    --tw-gradient-from: #069297;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(238, 235, 34, 0));
  }
  .to-secondary {
    --tw-gradient-to: #731280;
 }